# Pandas Basic Assignment 23rd Feb

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
a = [4,8,15,16,23,42]

In [3]:
pd.Series(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
vr = pd.Series(a)

In [6]:
print(vr)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
b = [4,8,15,16,23,42,34,23,'sdff',34]

In [9]:
vr1 = pd.Series(b)

In [10]:
vr1

0       4
1       8
2      15
3      16
4      23
5      42
6      34
7      23
8    sdff
9      34
dtype: object

### Q3. Create a Pandas DataFrame that contains the following data:

In [14]:
table = {
          'Name': ['Alice', 'Bob', 'Claire'],
          'Age': [25,30,27],
          'Gender': ['female', 'male', 'female']
        }

In [15]:
vr2 = pd.DataFrame(table)

In [16]:
vr2

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ans. DataFrame in pandas is 2 dimensional data structure like 2D array but series is like one dimesion array holding any data type in a column with index.

for example in Q1, created one series which contains only value in 1 dimesional but in Q2 created one 2D array containing both row and column value

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

ans. pd.read_csv, pd.read_excel, df.columns, df.drop(), .len(df), df[‘’].dtypes many more the common function we can use to manipulate the data

to read the file we use pd.read_excel or pd.read_cv

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [1]:
import pandas as pd

In [9]:
Name = pd.Series(['Shashank', 'Shivam', 'Sonal'], name='Name')
Class = pd.Series([10,11,12], name='Class')
Roll = pd.Series([123,143,234], name='Roll')
df=pd.concat([Name,Class,Roll], axis=1)

In [10]:
df

       Name  Class  Roll
0  Shashank     10   123
1    Shivam     11   143
2     Sonal     12   234